.main-header {
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

a {
  color: #fff;
  text-decoration: none;
}

.shopping-cart {
  align-items: center;
  border-radius: .2rem;
  cursor: pointer;
  display: flex;
  padding: .1rem .5rem;
  transition: background-color .25s ease-in-out;

  &:hover {
    background-color: rgb(4,172, 194);
  }
}
