.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 25rem;
  min-height: 10rem;
  min-width: 25rem;
}

.mat-card-title {
  line-height: 1.2;
}

.mat-card-actions {
  margin: 0;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0;
  margin-top: auto;
}

button {
  width: 100%;
}
