<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th width="60%">Item</th>
        <th>Qty</th>
        <th>Price unit</th>
        <th>Sub total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart$ | async">
        <td>{{ item.name }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{ item.qty * item.price | currency }}</td>
      </tr>
    </tbody>
  </table>
  <p class="total">Total: {{ total$ | async | currency }}</p>
</div>
