.container__table{
  width: 90%;
  margin: 0 4%;

  table {
    font-size: 1.2rem;
    th{
      background-color: #3f51b5;
      color: #fff;
      padding: 1rem;
      text-align: left;
    }
    td {
      background-color: #eee;
      padding: 1rem;
    }
  }
  .container__total{
    margin-top: 1rem;
    .total {
      color: #000;
      font-size: 1.5rem;
    }
  }

}
