.container{
  display: flex;
  align-items: center;
  padding: 1rem 5rem;

  .item {
    flex: 1 1 auto;
  }
  .form {
    width: 100%;
  }
  .form__element{
    padding: 5px 0px 25px 2px;
    width: 100%;
    margin-bottom: .5rem;
  }
}


.container__button{
  margin: 0 auto;
  display: block;
  width: 40%;
  margin-top: 4rem;

  button {
    width: 100%;
  }
}

