<div class="container">
  <form class="form" #checkoutForm="ngForm">
    <mat-form-field class="form__element">
      <input
        [(ngModel)]="model.name"
        #name="ngModel"
        matInput
        name="name"
        placeholder="Name"
        required
      />
      <mat-error *ngIf="!name.valid || name.pristine">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-radio-group class="form__element">
      <p>Choose an option:</p>
      <mat-radio-button value="pickup" (change)="onPickupOrDelivery(false)"
        >Pickup</mat-radio-button
      >
      <mat-radio-button
        (change)="onPickupOrDelivery(true)"
        checked
        value="delivery"
      >
        Delivery
      </mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="isDelivery; else showStores">
      <mat-form-field class="form__element">
        <input
          [(ngModel)]="model.shippingAddress"
          #shippingAddress="ngModel"
          matInput
          name="shippingAddress"
          placeholder="Shipping Address"
        />
      </mat-form-field>
      <mat-form-field class="form__element">
        <input
          [(ngModel)]="model.city"
          #city="ngModel"
          matInput
          name="city"
          placeholder="City"
        />
      </mat-form-field>
    </ng-container>
    <ng-template #showStores>
      <mat-form-field class="form__element">
        <mat-label>Select a Store</mat-label>
        <mat-select name="store" #store="ngModel" [(ngModel)]="model.store">
          <mat-option [value]="store" *ngFor="let store of stores">
            {{ store.name }} - {{ store.openingHours }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </form>
</div>
<app-details></app-details>
<div class="actions">
  <button
    (click)="onSubmit(checkoutForm)"
    [disabled]="!checkoutForm.form.valid"
    class="actions__btn"
    color="primary"
    mat-raised-button
    type="submit"
  >
    Checkout
  </button>
</div>
